# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.test
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma client
/src/generated/prisma
/prisma/migrations

# vscode
.vscode

# IDE
.idea/

# Build output
/dist

# SonarQube
.scannerwork
sonar
